<div class="logo">
    <app-header />
</div>

@if(isLoggedIn){
    <div class="login-nav">
        <app-nav />
    </div>
    <div class="login">
        <app-logout (onLogout)="onLogoutClick()"/>
    </div>
}

@if(!isLoggedIn){
    <div class="login">
        <app-login displayText="Login" (onLogin)="onLoginClick()"/>
    </div>
}

@if(wantsToLogin){
    <div class="login-display">
        <form #form="ngForm">
            <label for="username">Username: </label>
            <input type="text" id="username" name="username" required email ngModel #username="ngModel">
            <br><br>
            <label for="password">Password: </label>
            <input type="password" id="password" name="password" required minlength="4" ngModel #password="ngModel">
            <br><br>
            <button (click)="onLogin()" class="sign-in">
                Sign In
            </button>
        </form>

        @if(invalidId){
            <div class="invalid-id">
                <p>Enter a valid User ID</p>
            </div>
        }

        @if(invalidPassword){
            <div class="invalid-password">
                <p>Enter a Valid Password</p>
            </div>
        }
    </div>
}

@if(isLoggedIn){
    <app-logged-in-body />
}
@else if(!isLoggedIn && !wantsToLogin){
    <app-body />
}