.blogs-body {
    padding: 20px;
    background-color: black;
    color: white;
    margin-top: 40px;
    margin-left: 30px;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.blog-header{
    margin-bottom: 20px;
    font-size: 20px;
    padding: 10px;
}