<div class="new-blog-info">
    <form>
        <label for="title"><b>Title: </b></label>
        <br>
        <input type="text" id="title" name="title" [(ngModel)]="blogTitle">
        <br><br>
        <label for="body"><b>Body: </b></label>
        <br>
        <textarea name="body" id="body" rows="15" cols="50" [(ngModel)]="blogBody"></textarea>
        <br>
        <button class="submit" (click)="onPublish()">
            Publish
        </button>
        <button class="cancel" (click)="onCancel()">
            Cancel
        </button>
    </form>
</div>